@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #F7F7F7;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Syncopate', sans-serif;
}

/* left section */

.profile {
    background: #677381;
    border-radius: 5px;
    color: white;
}

.name h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Kufam', cursive;
    margin-bottom: 0;
}

.profile_photo {
    text-align: center;
}

.profile_photo img {
    max-width: 300px;
    border: 8px solid lightblue;
    border-radius: 5px;
    display: flex;
    margin: auto
}

.keywords {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 10px 0;
}

.keywords p {
    margin: 0 8px;
    background-color: slategray;
    padding: 5px 0px;
    width: 110px;
    text-align: center;
}

/* common */

.item2,
.item3,
.item1 {
    max-width: 500px;
}

h2,
h3 {
    text-transform: uppercase;
    max-width: fit-content;
    margin: 0px auto;
    margin-bottom: 0;
    position: relative;
}

h3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0%;
    width: 10px;
    height: 2px;
    background: black;
    color: aqua;
}

h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 20px;
    height: 2px;
    background: black;
    color: aqua;
}


p,
li {
    font-size: 14px;
}

/* middle section */

.likesanddislikes {
    display: flex;
    justify-content: space-between;
}

.option1 {
    display: flex;
    justify-content: space-between;
}

/* right section */

.bartop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 4px 6px;
    background-color: darkslategrey;
    border-radius: 4px;
}

.bartop .ball {
    grid-column: 11/12;
    background-color: darkgoldenrod;
    width: 100%;
    height: 20px;
}


.ball2 {
    grid-column: 8/9;
    width: 100%;
    height: 20px;
    background-color: darkgoldenrod;
}

.bar,
.bar2,
.bar3 {
    display: flex;
    padding: 4px 6px;
    background-color: darkslategrey;
    border-radius: 4px;
}

.bar .ball {
    background-color: darkgoldenrod;
    width: 14%;
    height: 20px;
}

.bar2 .ball {
    background-color: darkgoldenrod;
    width: 18%;
    height: 20px;
}

.bar3 .ball {
    background-color: darkgoldenrod;
    width: 16%;
    height: 20px;
}

.platforms {
    text-align: center;
}

.platforms img {
    max-height: 100px;
    margin: 5px 10px;
}

.item2 > div,
.item1 > div:not(.profile),
.item3 > div {
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 0px 29px 0px rgba(222, 222, 222, 1);
    box-shadow: 0px 0px 29px 0px rgba(222, 222, 222, 1);
}

.details h3 {
    margin-top: 20px;
}
